.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-block: 150px 32px;
}

.hero__badge {
  display: flex;
  column-gap: 24px;
  margin-bottom: 32px;
}

.hero__badge-label {
  border-radius: 9999px;
  color: #f3f4f6;
  background: #030712;
  padding: 4px 12px;
  width: max-content;
  font-size: 14px;
  font-weight: 500;
}

.hero__badge-content {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
  font-size: 14px;
  color: #374151;
  font-weight: 400;
}

.hero__badge-icon {
  width: 20px;
  height: 20px;
}

.hero__title {
  color: #111827;
  font-size: 36px;
  line-height: 48px;
  font-weight: 600;
  margin-bottom: 16px;
}

.hero__description {
  font-size: 14px;
  line-height: 24px;
  color: #374151;
}

.hero__socials {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-top: 24px;
  color: #374151;
}

.hero__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 32px;
}

.hero__avatar {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.hero__developer {
  padding-inline: 20px;
  text-align: center;
}

.hero__developer-name {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 4px;
}

.hero__developer-role {
  font-size: 16px;
  line-height: 24px;
  color: #1f2937;
}

@media (max-width: 640px) {
  .hero__badge {
    flex-direction: column;
    row-gap: 16px;
  }

  .hero__title {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (max-width: 1024px) {
  .hero {
    grid-template-columns: 1fr;
    row-gap: 48px;
  }

  .hero__image {
    order: -1;
  }
  
  .hero__avatar {
    width: 185px;
    height: 185px;
  }
}