.kontak {
  max-width: 672px;
  margin: 0 auto;
  padding-block: 52px;
}

.contact__header {
  text-align: center;
  width: 100%;
}

.contact__header-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 12px;
}

.contact__header-subtitle {
  font-size: 14px;
  line-height: 20px;
  color: #374151;
}

.contact__form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-block: 52px;
}

.contact__field {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.contact__label {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #1a202c;
}
.contact__label::after {
  content: "*";
  color: #ef4444;
  font-size: 12px;
  margin-left: 4px;
}

.contact__input,
.contact__textarea {
  display: block;
  width: 100%;
  border-radius: 0.375rem;
  background-color: #ffffff;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #1a202c;
  outline: 1px solid #d1d5db;
  outline-offset: -1px;
}

.contact__input:focus,
.contact__textarea:focus {
  outline: 2px solid #111827;
  outline-offset: -2px;
}

.contact__input::placeholder,
.contact__textarea::placeholder {
  color: #6b7280
}

.contact__form button {
  align-self: flex-start;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #f3f4f6;
  background-color: #111827;
  width: 100%;
  border-radius: 6px;
}
