.pengalaman {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding-block: 20px;
}

.pengalaman__header {
  flex: 1 1 0%;
  max-width: 768px;
}

.pengalaman__header-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 12px;
}

.pengalaman__header-subtitle {
  font-size: 14px;
  line-height: 20px;
  color: #374151;
}

.pengalaman__group {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  padding-block: 32px;
}

.pengalaman__timeline {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pengalaman__item {
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.pengalaman__item-logo {
  width: 52px;
  height: 52px;
  object-fit: contain;
  margin-bottom: 5px;
}

.pengalaman__item-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #111827;
}

.pengalaman__item-subtitle {
  font-size: 16px;
  line-height: 24px;
  color: #1f2937;
  font-weight: 500;
  margin-block: 3px 5px;
}

.pengalaman__item-periode {
  font-size: 14px;
  line-height: 20px;
  color: #374151;
  font-weight: 500;
  white-space: nowrap;
}

.pengalaman__item-description {
  font-size: 14px;
  line-height: 20px;
  color: #374151;
  line-height: 1.6;
  margin-top: 8px;
}

@media (max-width: 768px) {
  .pengalaman__group {
    grid-template-columns: 1fr;
  }
}