.about {
  padding-block: 52px;
}

.about__content {
  display: flex;
  gap: 32px;
}

.about__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 16px;
}

.about__paragraph {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 20px;
  width: 100%;
  max-width: 672px;
}
.about__paragraph p:first-child {
  font-size: 18px;
  line-height: 28px;
  color: #1f2937;
}
.about__paragraph p:last-child {
  font-size: 16px;
  line-height: 24px;
  color: #374151;
}

.about__stats {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}

.about__stats-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 52px;
}

.about__stat {
  display: flex;
  flex-direction: column-reverse;
  border-left: 1px solid #d1d5db;
  padding-left: 24px;
}

.about__stat-label {
  font-size: 16px;
  line-height: 24px;
  color: #374151;
}

.about__stat-value {
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 10px;
}

.about__skills {
  width: 100%;
  padding-block: 52px 32px;
}

.about__skills-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #111827;
}

.about__skills-subtitle {
  font-size: 14px;
  line-height: 20px;
  color: #374151;
  margin-block: 6px 28px;
}

.about__skills-group {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 20px;
}

.about__skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;
}

.about__skills-icon {
  width: 64px;
  height: 64px;
}

.about__skills-label {
  color: #374151;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 1024px) {
  .about__paragraph {
    flex-direction: column-reverse;
  }

  .about__content {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }
}

@media (max-width: 640px) {
  .about__skills {
    text-align: center;
  }

  .about__skills-group {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 641px) and (max-width: 720px) {
  .about__skills-group {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (min-width: 721px) and (max-width: 1024px) {
  .about__skills-group {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
