@import url('./css/reset.css');
@import url('./css/header.css');
@import url('./css/hero.css');
@import url('./css/tentang.css');
@import url('./css/pengalaman.css');
@import url('./css/project.css');
@import url('./css/blog.css');
@import url('./css/kontak.css');
@import url('./css/footer.css');
